<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>EZe Innovations</title>
	<meta name="description" content="">  
	<meta name="author" content="">
   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- CSS
    ================================================== -->  
   <!-- Script
   =================================================== -->
   <script src="assets/modernizr.js"></script>   
</head>

<body class="homepage">
   <!-- Header
   =================================================== -->
   <header id="main-header">
   	<div class="row header-inner">
	      <div class="logo">
	         <a class="smoothscroll" href="#hero">EZe Innovations.</a>
	      </div>
	      <nav id="nav-wrap">         
	         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">
	         	<span class='menu-text'>Show Menu</span>
	         	<span class="menu-icon"></span>
	         </a>
         	<a class="mobile-btn" href="#" title="Hide navigation">
         		<span class='menu-text'>Hide Menu</span>
         		<span class="menu-icon"></span>
         	</a>         
	         <ul id="nav" class="nav">
                 <li class="current"><a class="smoothscroll" href="#about">Product Design Consultancy.</a></li>
	         </ul> 
	      </nav> <!-- /nav-wrap -->	      
	   </div> <!-- /header-inner -->
   </header> 
 <section id="page-title">	
   	  
		<div class="row">

			<div class="twelve columns">

				<h1>Product Design Consultancy<span>.</span></h1

			</div>			    

		</div> <!-- /row -->	   

   </section> <!-- /page-title -->

   <!-- Hero
   =================================================== -->
   <!-- About Section
   ================================================== -->
   <section id="about">
<br>
   	<div class="row section-head">

   		<div class="twelve columns">

	         <h1>About<span>.</span></h1>

	         <hr />
	<div class="row section-head">

   		<div class="twelve columns">

	         <p>We are open to collaborate with other companies to Design And Develop their product and Optimize the product they are already having. We Innovate at every step to make a product more usable and cheaper for the masses. We seek that Perfection Out.

</p>
             </div>

      </div>
            <h1>Our Specialisation<span>.</span></h1>
            <hr />
<p>
Concept design, Aesthetics & Ergonomics, Design for Functionality, Value Engineering, Reverse Engineering, CAD Drafting, Embedded Electronics, Modelling of Plastic Parts & Assemblies, GD&T, Production Drawings, Tolerance stack-up analysis, snap fit validation studies & Research</p>

	      </div>

      </div>

      <div class="row about-content"> 

      	<div class="mob-whole six columns left">

      		<h3>Product Designing & Development.</h3>	

	      	<p>We put every nut and bolt at their perfect place for the perfect product.
	         </p>

      	</div> <!-- /left -->

      	<div class="mob-whole six columns right">

	      	<h3>Product Innovation .</h3>

	      	<p>Innovation is the pillar of growth, So we Innovate the product and provide consultancy services for the new product
	         </p>	

      	</div> <!-- /right -->

      </div> <!-- /row -->    

      <div class="row about-content"> 

      	<div class="mob-whole six columns left">

	      	<h3>Prototyping.</h3>	

	      	<p>Every Product needs to be felt physically. We Prototype your product.</p>

      	</div> <!-- /left -->

      	<div class="mob-whole six columns right">

	      	<h3>CAD Drafting.</h3>
	      	<p>We not only design, We provide you Manufacturing Ready Designs.
	         </p>	

      	</div> <!-- /right -->

      </div> <!-- /row -->
            <div class="row about-content"> 

      	<div class="mob-whole six columns left">

	      	<h3>Concept Development.</h3>	

	      	<p>You Think, We help you develop that Concept.</p>

      	</div> <!-- /left -->
                
      </div> <!-- /row -->
           <!-- <h3><%= link_to "Go Back", lands_path, class: "button primary full-width"  %></h3> -->
            <br>
            <br>
            <br>
            <br>

    </section>
            
            <footer>
                 <div class="row">   
         <div id="go-top">
            <a class="smoothscroll" title="Back to Top" href="#about"><span>Top</span><i class="fa fa-long-arrow-up"></i></a>
                     </div>
                </div>
   </footer> <!-- /footer -->
   
   
   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="/assets/jquery-1.10.2.min.js"><\/script>')</script>
    <script type="text/javascript" src="/assets/jquery-migrate-1.2.1.min.js"></script>   
   <script src="assets/jquery.fittext.js"></script>
   <script src="assets/backstretch.js"></script> 
   <script src="assets/waypoints.js"></script>  
   <script src="assets/main.js"></script>

</body>

</html>